<%- include('../partials/header'); -%>

<div class="form-group">
    <h1>Compose</h1>
    <form action="/compose" method="post" name="composedPost" value="newPost">
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="newTitle" placeholder="Title"></textarea>
        </div>

        <div class="form-group">
            <label>Post</label>
            <textarea class="form-control" name="newContent" id="" cols="30" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Publish</button>
    </form>


</div>



<%- include('../partials/footer'); -%>